{% extends 'djcore/base.html' %}
{% block page_title %}Akses ditolak | {{ block.super }}{% endblock %}
{% block page_content %}
<div class="content">

<h1>Akses Ditolak</h1>
<p>Maaf, anda tidak memiliki ijin untuk membuka halaman ini. Silakan kembali ke beranda</p>
</div>
{% endblock %}
