{% extends 'djcore/base.html' %}
{% block page_title %}Halaman tidak ditemukan | {{ block.super }}{% endblock %}
{% block page_content %}
<div class="content">

<h1>Halaman Tidak Ditemukan</h1>
<p>Maaf, halaman yang anda tuju tidak ditemukan. Silakan kembali ke beranda</p>
</div>
{% endblock %}
