{% extends "djcore/djcore-base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
  <h1>Kumpulan Alamat Email</h1>
  {% if user.emailaddress_set.all %}
  <p>Berikut ini alamat email yang terdaftar ke akun anda.</p>

  <form action="{% url 'account_email' %}" class="email_list" method="post">
  {% csrf_token %}
  <fieldset class="blockLabels">

    {% for emailaddress in user.emailaddress_set.all %}
  <div class="ctrlHolder">
        <label for="email_radio_{{forloop.counter}}" class="radio {% if emailaddress.primary %}primary_email{%endif%}">

        <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

  {{ emailaddress.email }}
      {% if emailaddress.verified %}
      <span class="verified">Sudah terverifikasi</span>
      {% else %}
      <span class="unverified">Belum terverifikasi</span>
      {% endif %}
        {% if emailaddress.primary %}<span class="primary">Email utama</span>{% endif %}
  </label>
  </div>
    {% endfor %}

  <div class="buttons">
        <button class="button is-primary" type="submit" name="action_primary" >Jadikan email utama</button>
        <button class="button is-link is-light" type="submit" name="action_send" >Kirim ulang link verifikasi</button>
        <button class="button is-warning is-light" type="submit" name="action_remove" >Hapus</button>
  </div>
  
  </fieldset>
  </form>
  
  {% else %}
  <p><strong>Peringatan:</strong>Anda belum punya alamat email. Anda harus menambahkan email supaya anda bisa menerima notifikasi, reset kata sandi, dll.</p>
  
  {% endif %}
  
  
      <h2>Tambahkan alamat email</h2>
  
      <form method="post" action="{% url 'account_email' %}" class="add_email">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button is-primary" name="action_add" type="submit">Simpan Email</button>
      </form>  
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function() {
  var message = "Apakah anda yakin ingin menghapus alamat email terpilih?";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>  
{% endblock %}
