{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>Konfirmasi E-mail</h1>

    {% if confirmation %}
    
    {% user_display confirmation.email_address.user as user_display %}
    
    <p>Harap konfirmasi apa betul <a href="mailto:{{ email }}">{{ email }}</a> adalah email untuk pengguna {{ user_display }}.</p>
    
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button class="button is-primary" type="submit">Betul</button>
    </form>
    
    {% else %}
    
    {% url 'account_email' as email_url %}
    
    <p>Link konfirmasi email tidak valid atau kadaluarsa. Silakan <a href="{{ email_url }}"></a>kirim ulang permintaan konfirmasi email</a>.</p>
    
    {% endif %}    
</div>
{% endblock %}
