{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
  <h1>Silakan masuk</h1>

  {% get_providers as socialaccount_providers %}
  
  {% if socialaccount_providers %}
  <p>Silakan masuk menggunakan akun media sosial anda. Atau, <a href="{{ signup_url }}">daftar</a>
    di {{ site_name }} kemudian masuk dengan isi data di bawah ini:</p>
  
  <div class="socialaccount_ballot">
  
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  
    <div class="login-or">atau</div>
  
  </div>
  
  {% include "socialaccount/snippets/login_extra.html" %}
  
  {% else %}
  <p>Jika anda belum punya akun, silakan <a href="{{ signup_url }}">daftar</a> terlebih dahulu.</p>
  {% endif %}
  
  <form class="login pure-form pure-form-stacked" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button is-warning secondaryAction" href="{% url 'account_reset_password' %}">Lupa kata sandi</a>
    <button class="button is-info primaryAction pure-button pure-button-primary" type="submit">Masuk</button>
  </form>
</div>
{% endblock %}