{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>Reset Kata Sandi</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Apakah anda lupa kata sandi? Masukan alamat email anda di bawah ini, kami akan kirimkan link untuk reset kata sandi anda.</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset pure-form pure-form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button is-primary" type="submit" value="Reset kata sandi" />
    </form>
    
    <p>Silakan kontak kami apabila ada masalah saat reset kata sandi.</p>    
</div>
{% endblock %}
