{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>{% if token_fail %}Token Tidak Valid{% else %}Ubah Kata Sandi{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Link reset kata sandi sudah tidak valid, kemungkinan karena sudah pernah digunakan. Silakan minta link <a href="{{ passwd_reset_url }}"></a>reset kata sandi yang baru</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button is-primary" type="submit" name="action" value="Ubah kata sandi"/>
            </form>
        {% else %}
            <p>Kata sandi anda sudah diubah.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
