{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>Ubah Kata Sandi</h1>
    <p>Kata sandi anda telah diubah.</p>
</div>
{% endblock %}
