{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<h1>Reset Kata Sandi</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>Kami sudah mengirimi anda email. Silakan hubungi kami apabila dalam beberapa menit anda belum menerimanya.</p>
{% endblock %}
