{% extends "djcore/djcore-base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>Ubah Kata Sandi</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-primary" type="submit" name="action">Ubah Kata Sandi</button>
    </form>
</div>
{% endblock %}
