{% extends "djcore/base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
  <h1>Daftar</h1>

  <p>Jika sudah punya akun, Silakan <a href="{{ login_url }}">masuk</a>.</p>
  
  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button is-primary" type="submit">Daftar &raquo;</button>
    <button class="button is-warning" type="reset">Hapus Data &raquo;</button>
  </form>  
</div>
{% endblock %}
