{% extends "djcore/base.html" %}

{% block page_title %}Semua tulisanku{% endblock %}

{% block side_menu %}
{% include 'blog/side-menu/my-post-side-menu.html' %}
{% endblock %}

{% block page_content %}
<div class="content">
    <h1>Daftar Tulisan</h1>
    <table class="table is-bordered is-striped is-hoverable">
        <thead>
            <tr>
                <th>#</th>
                <th>Judul</th>
                <th>Status Publikasi</th>
                <th>Manajemen</th>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
            <tr class="{% cycle 'pure-table-odd' 'pure-table-even' %}">
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'blog:post-detail' post.id post.title|slugify %}">{{ post.title }}</a></td>
                <td>{{ post.publish_date }}</td>
                <td>
                    <a href="{% url 'blog:post-update' post.id %}">Edit</a>
                    {% if post.publish_date <= time_now %}
                    <a href="{% url 'blog:unpublish-post' post.id %}">Unpublish</a>
                    {% elif post.publish_date > time_now %}
                    <a href="{% url 'blog:publish-post' post.id %}">Publish Now</a>
                    {% else %}
                    <a href="{% url 'blog:publish-post' post.id %}">Publish</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
