<div class="tile is-ancestor is-vertical">
    <div class="tile is-child">
        <form method="GET" action="{% url 'blog:search-post' %}">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" name="q"
                    placeholder="Cari tulisan"
                    value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">

            </div>
            <div class="control">
                <button class="button is-info" type="submit">Cari</a>
            </div>
        </div>
        </form>
    </div>
    <div class="tile is-child">
        <div class="dropdown is-hidden-desktop">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Label</span>
                    <span class="icon is-small">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content tags">
                    {% for tag in tags %}
                    <a href="{% url 'blog:tag-posts' tag.slug %}" class="dropdown-item tag">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                    </a>
                </div>
            </div>
        </div>

        <aside class="menu is-hidden-touch">
            <p class="menu-label">
                Label
            </p>
            <div class="menu-list tags">
                {% for tag in tags %}
                <a href="{% url 'blog:tag-posts' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </aside>
    </div>
</div>
