{% extends "djcore/base.html" %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/vendor/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/vendor/flatpickr/plugins/confirmDate.css' %}">
{{ form.media }}
{% endblock %}

{% block side_menu %}
{% include 'blog/side-menu/my-post-side-menu.html' %}
{% endblock %}

{% block page_content %}
{% include 'blog/post-editor.html' %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'blog/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/vendor/flatpickr/plugins/confirmDate.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}

