{% extends 'djcore/base.html' %}

{% block page_title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block side_menu %}
{% include 'blog/post-side-menu.html' %}
{% endblock %}

{% block page_content %}
<div class="content">
    <h1>{{ object.title }}</h1>
    <div>
        oleh {{ object.author }} pada {{ object.publish_date }}
        {% if post.author == request.user %}
        <a href="{% url 'blog:post-update' post.id %}">Edit</a>
        {% endif %}
    </div>
    
    {{ object.content|safe }}

    <h2>Komentar</h2>
        
    {% if comment_form %}
    <form method="POST">{% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="button is-primary">Simpan komentar</button>
        <button type="reset" class="button is-warning">Hapus komentar</button>
    </form>
    {% endif %}

    {% for comment in comments %}
    <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ comment.author }}</strong> <small>{{ comment.publish_date }}</small>
              <br>
              {{ comment.content }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    {% endfor %}
</div>
{% endblock %}
