{% for post in post_list %}
<article class="message is-info">
    <div class="message-header">
        <p><a href="{% url 'blog:post-detail' post.id post.title|slugify %}">{{ post.title }}</a></p>
        <p class="tags">{% for tag in post.tags.all %}
        <a class="tag is-rounded" href="{% url 'blog:tag-posts' tag.slug %}">{{ tag }}</a>{% endfor %}</p>
    </div>
    <div class="message-body">
        <p>{{ post.publish_date }}</p>
        {{ post.content|safe|truncatewords_html:20 }}
    </div>
</article>
{% empty %}
<div class="content">
    <h1>Data tidak ditemukan</h1>
</div>
{% endfor %}

