<form id="post-form" method="POST">{% csrf_token %}
{{ form.id }}
{{ form.non_field_errors }}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.title.id_for_label }}">Title</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                {{ form.title }}
            </div>
            {{ form.title.errors }}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.tags.id_for_label }}">Tags</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
            {{ form.tags }}
            <span class="icon is-small is-left">
                <i class="fa fa-tag"></i>
            </span>
            </p>
            {{ form.tags.errors }}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.publish_date.id_for_label }}">Publish Date</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
            {{ form.publish_date }}
            <span class="icon is-small is-left">
                <i class="fa fa-calendar"></i>
            </span>
            </p>
            {{ form.publish_date.errors }}
        </div>
    </div>
</div>

<div class="field">
      <div class="control">
          {{ form.content }}
      </div>
</div>

<div class="field is-horizontal">
  <div class="field-body">
    <div class="field is-grouped is-grouped-right">
      <div class="control">
      <button type="submit" class="button is-primary">Simpan data</button>
      </div>
      <div class="control">
      <button type="reset" class="button is-warning">Hapus data</button>
      </div>
    </div>
  </div>
</div>
</form>

