<!doctype html>
{% load static %}
<html lang="id">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'djcore/img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of Ikhsan Noor Rosyidin.">
    <title>{% block page_title %}{{ request.site.siteconfig.home_page_title }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vendor/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/goodblog.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar is-info is-boxed" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://{{ request.site }}">
                <p class="title">{{ request.site.name }}</p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if request.site.siteconfig.show_intro_menu %}
                    <a class="navbar-item" href="{% url 'intro' %}">Intro</a>
                {% endif %}
                <a class="navbar-item" href="{% url 'home' %}">Beranda</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.userprofile.level < 3 %}
                    <a class="navbar-item" href="{% url 'blog:user-posts' %}">Tulisanku</a>
                    {% endif %}
                    <a class="navbar-item" href="{% url 'cashflow:dashboard' %}">Keuangan</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    {% if request.user.is_authenticated %}
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'user_profile' slug=request.user.username %}">
                            <strong>{{ request.user }}</strong>
                        </a>
                        <button class="button is-warning is-light modal-button" data-target="logoutmodal" aria-haspopup="true">Keluar</button>
                    </div>
                    {% else %}
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'account_signup' %}">
                            <strong>Daftar</strong>
                        </a>
                        <a class="button is-primary" href="{% url 'account_login' %}">
                            <strong>Masuk</strong>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="columns">
            <div class="column is-one-quarter">
                {% block side_menu %}{% endblock %}
            </div>
            <div class="column">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </section>
    <section class="section">
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Pupil</strong> adalah <a href="https://twitter.com/essanpupil" target="_blank">Ikhsan N. Rosyidin</a>.
                    Lisensi kode sumber adalah <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
                    Lisensi konten website adalah <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY NC SA 4.0</a>.
                    Repository kode sumber ada di <a href="https://gitlab.com/essanpupil/goodblog" target="_blank">Gitlab</a>.
                </p>
            </div>
        </footer>
    </section>
    <div id="logoutmodal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Apakah anda yakin ingin keluar?</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="button is-danger" type="submit">Keluar</button>
                  </form>
            </section>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script defer src="{% static 'js/goodblog.js' %}"></script>
    <script defer src="{% static 'vendor/flatpickr/flatpickr.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>

