{% extends 'djcore/base.html' %}

{% block side_menu %}
<div class="dropdown is-hidden-desktop">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Pengaturanku</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="{% url 'user_profile' request.user.username %}" class="dropdown-item">
                Profile
            </a>
            <a href="{% url 'account_email' %}" class="dropdown-item">
                Email
            </a>
            <a href="{% url 'account_change_password' %}" class="dropdown-item">
                Ubah kata sandi
            </a>
        </div>
    </div>
</div>

<aside class="menu is-hidden-touch">
    <p class="menu-label">Pengaturan</p>
    <ul class="menu-list">
        <li><a href="{% url 'user_profile' request.user.username %}">Profile</a></li>
        <li><a href="{% url 'account_email' %}">Email</a></li>
        <li><a href="{% url 'account_change_password' %}">Ubah kata sandi</a></li>
    </ul>
</aside>
{% endblock %}

