{% extends 'djcore/base.html' %}

{% block side_menu %}
{% if core.contact_set.count %}
<div class="dropdown is-hidden-desktop">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-contact">
            <span>Kontak</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-contact" role="menu">
        <div class="dropdown-content">
            {% for contact in core.contact_set.all %}
                {% if contact.name == 'email' %}
                <a href="mailto:{{ contact.content }}" class="dropdown-item">
                    {{ contact.content }}
                </a>
                {% else %}
                <div class="dropdown-item">
                    {{ contact.name }}: {{ contact.content }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if core.address %}
<div class="dropdown is-hidden-desktop">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-address">
            <span>Alamat</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-address" role="menu">
        <div class="dropdown-content">
            <p>{{ core.address }}</p>
        </div>
    </div>
</div>
{% endif %}

<aside class="menu is-hidden-touch">
    {% if core.contact_set.count %}
    <p class="menu-label">Kontak</p>
    <ul class="menu-list">
        {% for contact in core.contact_set.all %}
            {% if contact.name == 'email' %}
                <li><a href="mailto:{{ contact.content }}">{{ contact.content }}</a></li>
            {% else %}
                <li><strong>{{ contact.name }}</strong>: {{ contact.content }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if core.address %}
    <p class="menu-label">Alamat</p>
    <ul class="menu-list">
        <li>{{ core.address }}</li>
    </ul>
    {% endif %}
</aside>

{% endblock %}

{% block page_content %}
    <h1 class="title">{{ core.name }}</h1>
    <h2 class="subtitle">{{ core.slogan }}</h2>
    <div class="content">
        {{ core.detail }}
    </div>

    <div class="columns">
    {% if core.service_set.count %}
        <div class="column">
            <p class="title">Servis</p>
            <div class="content">
            <ul>
            {% for service in core.service_set.all %}
            <li>{{ service.name }}</li>
            {% endfor %}
            </ul>
            </div>
        </div>
    {% endif %}

    {% if core.portfolio_set.count %}
        <div class="column">
            <p class="title">Portfolio</p>
            <div class="content">
            <ul>
            {% for portfolio in core.portfolio_set.all %}
            <li>{{ portfolio.name }}</li>
            {% endfor %}
            </ul>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

