{% extends "djcore/djcore-base.html" %}

{% load account socialaccount %}

{% block page_content %}
<div class="content">
    <h1>{{ object.get_full_name }}</h1>
    <table class="table is-hoverable">
        <tr><th>Username</th><td>{{ object.username }}</td></tr>
        <tr><th>Email</th><td>{{ object.email }}</td></tr>
        <tr><th>Level</th><td>{{ object.userprofile.get_level_display }}</td></tr>
    </table>
</div>
{% endblock %}
