<div class="dropdown is-hidden-desktop">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Manajemen tulisan</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="{% url 'blog:user-posts' %}" class="dropdown-item">
                Daftar tulisan
            </a>
            <a href="{% url 'blog:new-post' %}" class="dropdown-item">
                Buat tulisan baru
            </a>
        </div>
    </div>
</div>

<aside class="menu is-hidden-touch">
    <p class="menu-label">
        Manajemen tulisan
    </p>
    <ul class="menu-list">
        <li><a href="{% url 'blog:user-posts' %}">Daftar tulisan</a></li>
        <li><a href="{% url 'blog:new-post' %}">Buat tulisan</a></li>
    </ul>
</aside>
