{% extends 'djcore/base.html' %}
{% load static %}

{% block side_menu %}
{% include 'cashflow/side-menu.html' %}
{% endblock %}

{% block page_content %}
<div class="box">
    <h1 class="subtitle">Form tambah simpanan</h1>
    <form id="saving-form" class ="form" method="POST">{% csrf_token %}
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Nama</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <input id="id_name" type="text" class="input" placeholder="Nama akun simpanan">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Saldo</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select">
                            <select id="id_currency" name="currency">
                                <option value='IDR'>Rp</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <input id="id_amount" type="number" class="input" placeholder="Saldo">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input id="id_is_default" type="checkbox">Jadikan simpanan utama
                    </label>
                </div>
            </div>
        </div>
        <div class="field">
            <textarea id="id_description" class="textarea" placeholder="Keterangan"></textarea>
        </div>
        <button class="button is-primary">Simpan</button>
        <button class="button is-warning is-light">Reset</button>
    </form>
</div>

<div class="box">
    <h1 class="subtitle">Akun simpanan terbaru</h1>
    <table id="saving-table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead><tr><th>No.</th><th>Nama</th><th>Simpanan Utama</th><th>Mata Uang</th><th>Saldo</th><th>Alat</th></thead>
        <tbody><tr><td> - </td><td> - </td><td> - </td><td> - </td><td> - </td><td> - </td></tbody>
        <tfoot><tr><th>No.</th><th>Nama</th><th>Simpanan Utama</th><th>Mata Uang</th><th>Saldo</th><th>Alat</th></tfoot>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script defer type="text/javascript" src="{% static 'cashflow/js/saving.js' %}"></script>
{% endblock %}

