<div class="box">
    <div class="dropdown is-hidden-desktop">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Atur Keuangan</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="{% url 'cashflow:dashboard' %}" class="dropdown-item">
                    Dashboard
                </a>
                <a href="{% url 'cashflow:transaction' %}" class="dropdown-item">
                    Transaksi
                </a>
                <a href="{% url 'cashflow:saving' %}" class="dropdown-item">
                    Simpanan
                </a>
            </div>
        </div>
    </div>

    <aside class="menu is-hidden-touch">
        <p class="menu-label">
            Atur Keuangan
        </p>
        <ul class="menu-list">
            <li><a href="{% url 'cashflow:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'cashflow:transaction' %}">Transaksi</a></li>
            <li><a href="{% url 'cashflow:saving' %}">Simpanan</a></li>
        </ul>
    </aside>
</div>