{% extends 'djcore/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/vendor/flatpickr/plugins/confirmDate.css' %}">
{% endblock %}

{% block side_menu %}
{% include 'cashflow/side-menu.html' %}
{% endblock %}

{% block page_content %}
<div class="box">
    <form id="transaction-form" name="cash-form" method="POST">{% csrf_token %}
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Keterangan</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="id_description" class="input" type="text" placeholder="Keterangan" />
                    </p>
                    <p class="control has-icons-right">
                        <input id="id_date" name="date" class="input transaction_time" type="text" placeholder="Tanggal" />
                        <span class="icon is-right">
                            <em class="fa fa-calendar"></em>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Jumlah</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <select id="id_currency" name="amount_currency">
                                <option value="IDR">Rupiah</option>
                            </select>
                        </span>
                    </p>
                    <p class="control">
                        <input id="id_amount" class="input" type="number" placeholder="Jumlah" />
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Simpanan</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <select id="id_saving" class="savingSelect" name="saving">
                                <option value="" selected>Pilih sumber simpanan</option>
                            </select>
                        </span>
                    </p>
                    <p class="control">
                        <span class="select">
                            <select id="id_transaction_type" name="transaction_type">
                                <option value="out">Keluar</option>
                                <option value="in">Masuk</option>
                            </select>
                        </span>
                    </p>
                </div>
                <button id="saveTransactionButton" type="submit" class="button is-primary">Simpan</button>
                <button type="reset" class="button is-warning is-light">Reset</button>
            </div>
        </div>
    </form>
</div>

<div class="box">
    <nav class="pagination is-small is-rounded" role="navigation" aria-label="pagination">
        <a id="previous-button" class="pagination-previous">Balik</a>
        <a id="next-button" class="pagination-next">Lanjut</a>
    </nav>
    <form id="filter-form">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control has-icons-left">
                        <input id="time-filter" class="input transaction_time" type="text" placeholder="Tanggal" />
                        <span class="icon is-left">
                            <em class="fa fa-calendar"></em>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input id="description-filter" class="input" type="text" placeholder="Keterangan" />
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <span class="select">
                            <select id="type-filter" name="transaction_type">
                                <option value="out">Keluar</option>
                                <option value="in">Masuk</option>
                            </select>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <span class="select">
                            <select id="saving-filter" class="savingSelect" name="saving">
                                <option value="" selected>Pilih sumber simpanan</option>
                            </select>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <button id="filterTransaction" type="submit" class="button is-primary">Filter</button>
                </div>
                <div class="field">
                    <button id="resetFilter" type="reset" class="button is-warning is-light">Reset</button>
                </div>
            </div>
        </div>
    </form>
    <br />
    <table id="transaction-table" class="table is-narrow is-bordered is-striped is-fullwidth">
        <thead>
            <tr>
                <th scope="col">Waktu</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Simpanan</th>
                <th scope="col">Alat</th>
            </tr>
        </thead>
        <tbody>
            <tr><td> - </td><td> - </td><td> - </td><td> - </td><td> - </td></tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script defer type="text/javascript" src="{% static 'vendor/flatpickr/plugins/confirmDate.js' %}"></script>
<script defer type="text/javascript" src="{% static 'cashflow/js/transaction.js' %}"></script>
{% endblock %}
