[Unit]
Description=GoodBlog, Django application for blogging

[Service]
Restart=on-failure
Environment=DJANGO_SETTINGS_MODULE="{{ goodblog_settings }}"
Environment=GOODBLOG_SECRET_KEY="{{ goodblog_secret_key }}"
Environment=GOODBLOG_DATABASE_NAME="{{ dbname }}"
Environment=GOODBLOG_DATABASE_USER="{{ dbuser }}"
Environment=GOODBLOG_DATABASE_PASSWORD="{{ dbpasswd }}"
Environment=GOODBLOG_DATABASE_HOST="{{ dbhost }}"
Environment=GOODBLOG_DATABASE_PORT="{{ dbport }}"
Environment=GOODBLOG_ALLOWED_HOST="{{ goodblog_domain }}"
{% if environment_type == 'prod' %}
Environment=GOODBLOG_EMAIL_HOST_PASSWORD="{{ goodblog_email_host_password }}"
Environment=GOODBLOG_EMAIL_HOST="{{ goodblog_email_host }}"
Environment=GOODBLOG_EMAIL_PORT="{{ goodblog_email_port }}"
Environment=GOODBLOG_EMAIL_HOST_USER="{{ goodblog_email_host_user }}"
Environment=GOODBLOG_EMAIL_USE_TLS="{{ goodblog_email_use_tls }}"
{% endif %}
{% if sentry_dsn is defined %}
Environment=SENTRY_DSN="{{ sentry_dsn }}"
{% endif %}
WorkingDirectory={{ code_dir }}
ExecStart={{ venv_dir }}/bin/gunicorn goodblog.wsgi:application -b 127.0.0.1:{{ gunicorn_port }}

[Install]
WantedBy=multi-user.target
